<%- include('partials/header') -%>

<div class="container">


  <div class="row form-row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h1>Register</h1>
          <form class="/register" method="post">
            <div class="form-group">
              <label for="email">
                <h5>Email</h5>
              </label>
              <input id="form-input" type="email" name="username" class="form-control" placeholder="User Email">
            </div>
            <div class="form-group">
              <label for="password">
                <h5>Password</h5>
              </label>
              <input id="form-password" type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button id="registerbutton" type="submit" class="btn btn-primary btn-block">Register</button>
          </form>


          <hr>
          <h5>Or Sign up with</h5>
          <div class="fontawsm">
            <a href="/auth/facebook" role="button">
              <span class="fa fa-facebook fa-2x" aria-hidden="true"></span>
            </a>
            <a href="/auth/google" role="button">
              <span class="fa fa-google fa-2x" aria-hidden="true"></span>
            </a>
            <a href="/auth/linkedin" role="button">
              <span class="fa fa-linkedin-square fa-2x" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
